In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
#criando uma serie
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#criando um array
index = ['linha' + str(i) for i in range(5)]
index

['linha0', 'linha1', 'linha2', 'linha3', 'linha4']

In [5]:
#criando um indice
s = pd.Series(data=data, index=index)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [6]:
#criando um dicionario
data = {'linha' + str(i): i + 1 for i in range(5)}
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [7]:
s = pd.Series(data)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [8]:
#somando um valor em todos os elementos da serie
s1 = s + 2
s1

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [9]:
#somando os elementos de 2 series
s2 = s + s1
s2

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

## DataFrame

In [10]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
index = ['linha' + str(i) for i in range(3)]
index

['linha0', 'linha1', 'linha2']

In [13]:
columns = ['coluna' + str(i) for i in range(3)]
columns

['coluna0', 'coluna1', 'coluna2']

In [14]:
df1 = pd.DataFrame(data=data,index=index, columns=columns)
df1

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [15]:
#criando a partir de um dicionario
data = {'coluna0': {'linha0': 1, 'linha1': 4, 'linha2': 7},
        'coluna1': {'linha0': 2, 'linha1': 5, 'linha2': 8},
        'coluna2': {'linha0': 3, 'linha1': 6, 'linha2': 9}}
data

{'coluna0': {'linha0': 1, 'linha1': 4, 'linha2': 7},
 'coluna1': {'linha0': 2, 'linha1': 5, 'linha2': 8},
 'coluna2': {'linha0': 3, 'linha1': 6, 'linha2': 9}}

In [16]:
df2 = pd.DataFrame(data)
df2

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [17]:
# criando a partir de uma tupla
data = [{1, 2, 3}, 
        {4, 5, 6}, 
        {7, 8, 9}]
data

[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [18]:
df3 = pd.DataFrame(data=data,index=index, columns=columns)
df3

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        8        9        7

In [19]:
df1[df1 > 0] = 'A'
df1

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [20]:
df2[df2 > 0] = 'B'
df2

       coluna0 coluna1 coluna2
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B

In [21]:
df3[df3 > 0] = 'C'
df3

       coluna0 coluna1 coluna2
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [22]:
#concatenacao
df4 = pd.concat([df1, df2, df3])
df4

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [23]:
df4 = pd.concat([df1, df2, df3], axis=1)
df4

       coluna0 coluna1 coluna2 coluna0 coluna1 coluna2 coluna0 coluna1 coluna2
linha0       A       A       A       B       B       B       C       C       C
linha1       A       A       A       B       B       B       C       C       C
linha2       A       A       A       B       B       B       C       C       C

In [24]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
df1

   A  B
X  1  2

In [25]:
df2

   C  D
X  3  4

In [26]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [27]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6